<nav class="navbar navbar-dark    navbar-expand-lg">
    <div class="container">
        <a href="{% url 'kullanici' %}" class="navbar-brand">Ana Sayfa </a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                   
                 <a href="{% url 'kullaniciliste' %}"class="nav-link">Liste</a>
            </li>
            <li class="nav-item">
                   
                <a href="{% url 'kullanicitodoekle' %}"class="nav-link">To Do Listesi</a>
           </li>
           
        </ul>
    </div>

</nav>